@model IEnumerable<ChatterApp.Models.Chat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="response"></div>
<button id="getChats" class="btn btn-primary">Get Chat</button>
@section Scripts {
    <script>
       //var jsonTest =
       //    {"firstName": "Bob", "lastname": "Sauce", "children": [{ "firstname": "Barbie", "age": 19 }, { "firstName": "Ron", "age": null }]
       //}
       //$("#response").text(jsonTest.children[1].firstName);
       $(document).ready(function () {
           $("#getChats").click(function () {
               $.get("@Url.Action("TestJson", "Chats")", function (serverResponse) {
                   var jsonTest = JSON.parse(serverResponse);
                   console.log(jsonTest);
                   $("#response").append(jsonTest.firstName);
               });
           });
    })
    </script>